

@bp.route('{{ ancillary.uri }}'.format(
    {% for parameter, (type, space) in ancillary.parameters.items() %}
        {% if space == 'uri' %}
            {{ parameter }}='{{ parameter }}',
        {% endif %}
    {% endfor %}),
    methods=[
        {% for method in ancillary.methods %}
            '{{ method | upper }}',
        {% endfor %}
    ]
)
@privileges(
    {% for privilege in ancillary.privileges %}
        '{{ privilege }}',
    {% endfor %}
)
@retrieve(
    {% for parameter, (type, space) in ancillary.parameters.items() %}
        {% if space != 'uri' %}
        '<{{ type }}:{{ space }}:{{ parameter }}>',
        {% endif %}
    {% endfor %}
)
async def {{ ancillary.name }}(request, payload,
    {% for parameter in ancillary.parameters %}
        {{ parameter }},
    {% endfor %}
):
    {% for parameter, value in prime.parameters.items() %}
        {% if parameter != 'payload' %}
            {{ parameter }} = {{ render_json(value) }}
        {% endif %}
    {% endfor %}
    return json(await {{ config.collection.name }}.{{ prime.name }}(
        {% for parameter in prime.parameters %}
            {{ parameter }},
        {% endfor %}
    ))

